
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-580931199799657043.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-580931199799657043.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-580931199799657043.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-580931199799657043.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-580931199799657043.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-580931199799657043.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-580931199799657043.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-580931199799657043.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-580931199799657043.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-580931199799657043.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-580931199799657043.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-580931199799657043.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-580931199799657043.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-580931199799657043.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-580931199799657043.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-580931199799657043.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-580931199799657043.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-580931199799657043.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-580931199799657043.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-580931199799657043.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-580931199799657043.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-580931199799657043.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-580931199799657043.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-580931199799657043.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-580931199799657043.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-580931199799657043.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-580931199799657043.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-580931199799657043.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-580931199799657043.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-580931199799657043.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-580931199799657043.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-580931199799657043.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-580931199799657043.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-580931199799657043.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-580931199799657043.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-580931199799657043.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-580931199799657043.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-580931199799657043.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-580931199799657043.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-580931199799657043.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-580931199799657043.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-580931199799657043.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-580931199799657043.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-580931199799657043.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-580931199799657043.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-580931199799657043.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-580931199799657043.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-580931199799657043.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-580931199799657043.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-580931199799657043.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-580931199799657043.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-580931199799657043.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-580931199799657043.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-580931199799657043.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-580931199799657043.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-580931199799657043.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-580931199799657043.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-580931199799657043 .gp-relative{position:relative}.gps-580931199799657043 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-580931199799657043 .gp-mb-0{margin-bottom:0}.gps-580931199799657043 .gp-flex{display:flex}.gps-580931199799657043 .gp-grid{display:grid}.gps-580931199799657043 .\!gp-hidden{display:none!important}.gps-580931199799657043 .gp-hidden{display:none}.gps-580931199799657043 .gp-max-w-full{max-width:100%}.gps-580931199799657043 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-580931199799657043 .gp-flex-col{flex-direction:column}.gps-580931199799657043 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-580931199799657043 .gp-duration-200{transition-duration:.2s}.gps-580931199799657043 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-580931199799657043 .tablet\:\!gp-hidden{display:none!important}.gps-580931199799657043 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-580931199799657043 .mobile\:\!gp-hidden{display:none!important}.gps-580931199799657043 .mobile\:gp-hidden{display:none}}.gps-580931199799657043 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gi98iKgatk"}' data-id="gi98iKgatk" id="gi98iKgatk" data-same-height-subgrid-container class="gi98iKgatk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7b6Jg4aIS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKGin3mZ5j"
        class="gKGin3mZ5j"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:50px;--mb:2px;--mb-mobile:0px;--pt-mobile:30px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1761819265477"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Jost, 'Jost'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:48px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKGin3mZ5j_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v20/92zPtBhPNqw79Ij1E865zBUv7myjJTVBNI4.woff) format('woff');
}
/* cyrillic */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v20/92zPtBhPNqw79Ij1E865zBUv7myjJTVFNI4un_HKOEp-Cw.woff) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v20/92zPtBhPNqw79Ij1E865zBUv7myjJTVPNI4un_HKOEp-Cw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v20/92zPtBhPNqw79Ij1E865zBUv7myjJTVBNI4un_HKOEo.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-580931199799657043 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/33107d-2/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=580931199698993747&sectionId=580931199799657043)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKGin3mZ5j_text","label":"ggKGin3mZ5j_text","default":"<span style=\"color:inherit;\">You May Also Like</span>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  